@using Cleverest.Common;
@using Cleverest.Models;
@{
    Layout = "~/_basicLayout.cshtml";

    if (IsPost)
    {
        Container.CurrentTestId = Request["id"];
        Response.Redirect("~/Pages/TestPage");
    }

    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("/");
    }

    var testLogic = Resolver.TestLogic;

    var testList = testLogic.GetAll().ToArray();


}

@foreach (var test in testList)
{
    <div>
        <div>@test.Name</div>
        <form action="~/Pages/testsList.cshtml" method="post">
            <button>Pass</button>
            <input type="hidden" name="id" value="@test.Id" />
        </form>
        <br />
    </div>
    
 }


